<div *ngIf="results.length>0" class="container">           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Price</th>
        <th>Last changed</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr [attr.id]="'resultsRow'+i" [ngStyle]="{'background-color': lastChanged > 0 ? 'green' :  'red' }" *ngFor="let result of results; let i = index"> -->
        <tr [attr.id]="'resultsRow'+i" [ngStyle]="!lastChanged && {'background-color':'white'} || lastChanged==0 && {'background-color':'white'} || lastChanged>0 && {'background-color':'green'}||lastChanged < 0 && {'background-color':'red'}" *ngFor="let result of results; let i = index"> 
        <td>{{result.symbol}}</td>
        <td>{{result.price}}</td>
        <td>{{lastChanged}}</td>
        <td (click)="deleteResult(i)"><button class="btn btn-danger">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</div>



<div style="margin: auto; text-align: center; margin-top: 2%;">
  <button class="btn btn-primary" (click)="openModalWithComponent()">Add a symbol</button>
</div>

