.container{
    max-width: 100%;
    margin: auto;
}
.green{
    background-color: #f044 !important;
}
.red{
    background-color: red !important;
}
tr{
    background-color: white;
}
.white{
    background-color: white;
}